@font-face {
  font-family: 'iconfont';  /* project id 2007195 */
  src: url('//at.alicdn.com/t/font_2007195_uddermje4a.eot');
  src: url('//at.alicdn.com/t/font_2007195_uddermje4a.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2007195_uddermje4a.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2007195_uddermje4a.woff') format('woff'),
  url('//at.alicdn.com/t/font_2007195_uddermje4a.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2007195_uddermje4a.svg#iconfont') format('svg');
}
[class^="icon-"]{
  font-family:"iconfont" !important;
  font-size:0.28rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-all:before {
  content: "\e64f";
}

.icon-shouhou:before {
  content: "\e64e";
}

.icon-upload:before {
  content: "\e616";
}

.icon-people:before {
  content: "\e736";
}

.icon-order:before {
  content: "\e603";
}

.icon-shu1:before {
  content: "\e64b";
}

.icon-home:before {
  content: "\e66f";
}

.icon-shu:before {
  content: "\e84c";
}

.icon-sey-telephone-b:before {
  content: "\e677";
}

.icon-sey-telephone-a:before {
  content: "\e678";
}

.icon-ic_menu_px:before {
  content: "\eaf7";
}

.icon-more2:before {
  content: "\e8c4";
}

.icon-more1:before {
  content: "\e8c5";
}

.icon-weixin-pay:before {
  content: "\e6bb";
}

.icon-zhifubao-pay:before {
  content: "\e612";
}

.icon-tishi2:before {
  content: "\e7f5";
}

.icon-time1:before {
  content: "\e601";
}

.icon-wuliu:before {
  content: "\e652";
}

.icon-wuliu1:before {
  content: "\e648";
}

.icon-del:before {
  content: "\e600";
}

.icon-edit:before {
  content: "\e673";
}

.icon-huaban:before {
  content: "\e60b";
}

.icon-cart:before {
  content: "\e602";
}

.icon-biaoxingfill:before {
  content: "\e732";
}

.icon-biaoxing:before {
  content: "\e733";
}

.icon-shaixuan:before {
  content: "\e676";
}

.icon-biaotou-zhengxu:before {
  content: "\e8f7";
}

.icon-biaotou-daoxu:before {
  content: "\e8f9";
}

.icon-search:before {
  content: "\e61f";
}

.icon-location:before {
  content: "\e651";
}

.icon-guanbi1:before {
  content: "\e723";
}

.icon-guanbi2fill:before {
  content: "\e724";
}

.icon-guanbi2:before {
  content: "\e725";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-jiahao2fill:before {
  content: "\e728";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-yuanxingxuanzhongfill:before {
  content: "\e730";
}

.icon-yuanxingxuanzhong:before {
  content: "\e731";
}

.icon-duoxuan-weixuan:before {
  content: "\e68f";
}

.icon-duoxuan-yixuan:before {
  content: "\e690";
}

.icon-angle-down:before {
  content: "\e60e";
}

.icon-angle-right:before {
  content: "\e60f";
}

.icon-angle-left:before {
  content: "\e610";
}

.icon-angle-up:before {
  content: "\e611";
}
